* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background-color: #00f;
}

code, button[type="submit"] {
  background-color: #0f0;
}

button[type="submit"]:hover, input[type="text"], textarea { 
  background-color: #ff0; 
} 

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}

.id {
  font-size: 10.5px;
}